.searchInput {
  --partner-control-padding-end: 48px;
}

.searchInput::-webkit-search-decoration,
.searchInput::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}

.searchInput::-ms-clear {
  display: none;
}
